.to-order{
    display: inline;
}
.to-order button[type="submit"]{
    background: white;
    border: none;
    color: darkorange;
    outline: none;
}
.to-order button[type="submit"]:hover{
    color: red;
}
.count-cart{
    width: 40px;
    display: inline;
    margin: 0 10px 0;
    height: 33px;
}