.tile-item{
    display: block;
    margin-bottom: 20px;
}
.tile-item:hover .tile-img{
    box-shadow: 10px 10px 10px #8895CE;
}
.tile-caption{
    position: absolute;
    left: 0%;
    bottom: 20px;
    width: 100%;
    color: #441644;
    text-shadow: 0 0 8px #FF9191;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
}
.tile-img{
    transition: .5s;
    border-radius: 10px;
    border: 1px solid #D8D5D5;
    box-shadow: 0 0 0 #8895CE;
}