#tabs .tabs-list{
    padding: 0 0 0 23px;
}

#tabs .tab-caption{
    outline: none;
}

.ingredient-category-list{
    list-style-type: none;
    padding: 0;
}

.ingredient-category-list>li{
    margin: 5px;
    border: 1px solid grey;
    box-shadow: -1px 1px 2px black;
    border-radius: 5px;
    display: block;
    min-width: 200px;
    max-width: 300px;
    transition: .3s;
    cursor: pointer;
    position: relative;
    height: 62px;
}

.ingredient-category-list>li.active{
    border: 1px solid #FF7272;
    box-shadow: 0 0 2px #FF7272;
}

.ingredient-category-list>li:after{
    opacity: 0;
    transition: 1s;
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 5px;
    top: -1px;
    right: -70px;
    color: red;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 12px;
    box-shadow: 0 0 0 white;
    line-height: 57px;
}

.ingredient-category-list>li.active[data-count="1"]:after{
    opacity: 1;
    content: 'x1';
    border: 1px solid #00C2FF;
    box-shadow: 0 0 2px #00C2FF;
}

.ingredient-category-list>li.active[data-count="2"]:after{
    opacity: 1;
    content: 'x2';
    border: 1px solid #FF7272;
    box-shadow: 0 0 5px red;
}

.ingredient-category-list>li:hover{
    box-shadow: 0 0 0 white;
    border: 1px solid #d8d8d8;
    background-color: #ffdba7;
}

.ingredient-category-list>li img{
    box-shadow: 0 0 0 white;
    position: relative;
    transition: .3s;
    top: 0;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 50%;
}

.ingredient-category-list>li:hover img{
    position: relative;
    top: -20px;
    box-shadow: 0 5px 5px grey;
}

.ingredient-category-list>li:hover .icl-item-caption{
    color: #0649ff;
}

.icl-item-caption{
    padding-left: 10px;
}
